{{#section 'title'}}
	Product Edit
{{/section}}

{{#with product}}
<form action="" method="POST" role="form">        
    <div class="control-group">
        <label class="control-label" for="inputName">Name <sup>*</sup></label>
        <div class="controls">
            <input id="inputName" name="CatName" type="string" value=''>
        </div>
    </div>
   

</form>

{{/with }}