{{#section 'title'}}
	Product Edit
{{/section}}

{{#with product}}
<form action="" method="POST" role="form">        
    <div class="control-group">
        <label class="control-label" for="inputName">Name <sup>*</sup></label>
        <div class="controls">
            <input id="inputName" name="ProductName" type="string" value=''>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="inputPrice">Price <sup>*</sup></label>
        <div class="controls">
            <input id="inputPrice" name="ProductPrice" type="string" value=''>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputLink">Link <sup>*</sup></label>
        <div class="controls">
            <input id="inputLink" name="ProductLink" type="string" value=''>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputProducer">Producer <sup>*</sup></label>
        <div class="controls">
            <input id="inputProducer" name="ProductProducer" type="string" value=''>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputNumber">Number <sup>*</sup></label>
        <div class="controls">
            <input id="inputNumber" name="ProductNumber" type="string" value=''>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Import Date <sup>*</sup></label>
        <div class="controls">
            <input id="inputImportDate" name="ProductDate" type="date" value=''> 
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputDescribe">Describe <sup>*</sup></label>
        <div class="controls">
            <input id="inputDescribe" name="ProductDescribe" type="text" value=''>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputOrigin">Origin <sup>*</sup></label>
        <div class="controls">
            <input id="inputOrigin" name="ProductOrigin" type="text" value=''>
        </div>
    </div>

</form>

{{/with }}