{{#section 'css'}}
	<style type="text/css">
        .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        }
        .img-circle {
        border-radius: 50%;
        }
        .avatar {
            margin-bottom: 20px;
        }
        .team p.subtitle {
            margin-bottom: 10px;
        }
    </style>
{{/section}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
                <div class="inner">
                <h5>Lại Ngọc Bảo</h5>
                <p class="subtitle">Pixel Crafter</p>
                <div class="avatar"><img src="/web/image/1_memberTeam.jpg" alt="" class="img-responsive img-circle" /></div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wow bounceInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
                <div class="inner">
                <h5>Nguyễn Tấn Đạt</h5>
                <p class="subtitle">Ruby on Rails</p>
                <div class="avatar"><img src="/web/image/2_memberTeam.jpg" alt="" class="img-responsive img-circle" /></div>

                </div>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wow bounceInUp" data-wow-delay="0.8s">
            <div class="team boxed-grey">
                <div class="inner">
                <h5>Đường Trung Duy</h5>
                <p class="subtitle">jQuery Ninja</p>
                <div class="avatar"><img src="/web/image/3_memberTeam.jpg" alt="" class="img-responsive img-circle" /></div>

                </div>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wow bounceInUp" data-wow-delay="1s">
            <div class="team boxed-grey">
                <div class="inner">
                <h5>Nguyễn Minh Đồng</h5>
                <p class="subtitle">Typographer</p>
                <div class="avatar"><img src="/web/image/4_memberTeam.jpg" alt="" class="img-responsive img-circle" /></div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>

