{{#section 'title'}}
	Notification
{{/section}}


<p style="text-align:center;font-size: 50px;">BẠN KHÔNG CÓ QUYỀN THỰC HIỆN TÁC VỤ NÀY</p>
<img style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;" 
    src="https://vignette.wikia.nocookie.net/hive/images/9/9d/Spoiler.png/revision/latest?cb=20140924212820">