{{#section 'title'}} Đăng ký {{/section}} 
{{#section 'css'}}
    <style>
        .form-horizontal .control-label {
            padding-right: 20px
        }
    </style>
{{/section}} {{#section 'js'}}

{{#if showAlert}}
    <div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Bạn đã thêm một tài khoản thành công
{{/if}}

<script type="text/javascript">
 //hàm kiểm tra lỗi
 function kiemTraLoi(){
    if ($('#txtEmail').val().length === 0) {
                $('#email_error').html(`<P style="color: red">email không được để trống</P>`)
            }else if ($('#txtPWD').val().length === 0) {
                $('#password_error').html(`<P style="color: red">Password không được để trống</P>`)
            }else if($('#txtPWD').val() !== $('#txtCPWD').val()) {
                $('#confirm_error').html(`<P style="color: red">Password không trung nhau</P>`)
            }else{
                $('#DK').removeAttr("disabled");
            }
 }
//Xử lí captcha
    function enableRegisterButton() {
        kiemTraLoi();
}
</script> {{/section}}
<form id="frmRegister" action="register/check" method="POST" class="form-horizontal" role="form" onsubmit="return validate();">
    <div class="form-group">
        <label for="txtName" class="col-sm-2 control-label">Họ tên</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtName" placeholder="Họ tên" name="name">
            <span class="error">
                <p id="name_error"></p>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="email">
            <span class="error">
                <p id="email_error"></p>
            </span>
            {{#if err}}
            <strong style="color:red">Email đã tồn tại!</strong>
            {{/if}}
        </div>
    </div>
    <div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="rawPWD">
            <span class="error">
                <p id="password_error"></p>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="txtCPWD" class="col-sm-2 control-label">Nhập lại</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtCPWD" placeholder="Nhập lại password" name="cPWD">
            <span class="error">
                <p id="confirm_error"></p>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="txtDOB" class="col-sm-2 control-label">Ngày sinh</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="txtDOB" placeholder="d/m/yyyy" name="dob">
            
            <span class="error">
                <p id="dob_error"></p>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="txtAddress" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtAddress" placeholder="Địa chỉ" name="address">
            <span class="error">
                <p id="address_error"></p>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="txtTelephone" class="col-sm-2 control-label">Số điện thoại</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="Số điện thoại" name="telephone">
            <span class="error">
                <p id="telephone_error"></p>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button id="DK" type="submit" show class="btn btn-success" disabled="">
                Đăng ký
            </button>
        </div>
    </div>
     <div class="g-recaptcha" data-sitekey="6LdBOmEUAAAAAM29Vxje-SgOdRpXwLt1ijYK5Sh0" data-callback="enableRegisterButton"></div>
</form>