{{#section 'title'}}
	Delete Producer
{{/section}}

{{#if showAlert}}
    <div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Bạn đã xóa máy ảnh thành công
</div>
{{/if}}