{{#section 'title'}}
	Edit Producer
{{/section}}

{{#if showAlert}}
    <div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Bạn đã sửa đổi nhà sản xuất thành công
</div>
{{/if}}

{{#with producer}}
<form action="" method="POST" class="form-horizontal" role="form">    
    <div class="control-group">
        <label class="control-label" for="inputId">ID <sup>*</sup></label>
        <div class="controls">
            <input id="inputId" name="ProducerId" type="text" value='{{ma_nsx}}' readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputName">Name <sup>*</sup></label>
        <div class="controls">
            <input id="inputName" name="ProducerName" type="string" value='{{ten_nsx}}'>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success">
                Sửa
            </button>
        </div>
    </div>
</form>

{{/with }}